:root{
  font-size: 16px;

  --main-bg: #b0b0b0;
  --old-bg: #abbcd6;

  --tbl-div: #abc2cc;
  --th-color: #4f0418;
  --tr-base: #e3c4b1;
  --tr-other: #dea887;
  --tr-hover: coral;

  --sidenav-div: green;
  --nav-hover: #50C878;
  --nav-text: #FAF9F6;

  --select-color: #464b4d;
  --select-text: #abc2cc;

  --secondary-color: #f5e342;

  --form-yellow: #d4ca70;
}


body {
  background-color: var(--main-bg) !important;
/*  background-image: url("5137894.jpg");
  background-size: 1920px;*/
  font-family: arial;
  margin: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--sidenav-div);
  transition: width 150ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--nav-hover);
}

.nav-link i {
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 25px;
  color: var(--nav-text);
}

.navbar:hover {
  width: 16rem;
  box-shadow: 2px 2px 30px;
}

.navbar:hover .nav-text{
  display: block;
}

.nav-text {
  display: none;
  margin-left: 1rem;
  font-size: 20px;
  color: var(--nav-text);
}

.container-centered {
  width: 80%;
  border: solid 2px green;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
